body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 32pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    /* border: 1px solid black; */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 240px;
    background-color: lightslategray;
    border-radius: 8px;
    position: relative;
}

.box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 8px;
}

.box-title {
    display: flex;
    justify-content: center;
    font-size: 16pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: rgba(119, 136, 153, 0.85);
    border-bottom: 1px solid black;
    border-radius: 8px 8px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}

.box-content {
    /* visibility: hidden; */
    opacity: 0;
    transition: opacity 250ms;
    /* transition: visibility 0s, opacity 0.5s; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(119, 136, 153, 0.65);
    /* border: 1px solid black; */
    border-radius: 0px 0px 8px 8px;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    padding: 2px;
    z-index: 1;
}

.box:hover
.box-content {
    /* visibility: visible; */
    opacity: 1;
    transition: opacity 250ms;
}


