body {
    background-color: #3e6ab2;
    background-image: url("assets/ssb_background.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 36pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    text-align: center;
    width: 100%;
    background-color: rgba(108, 174, 255, 0.75);
}

.card-container {
    /* border: 1px solid black; */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 240px;
    background-color: rgba(108, 174, 255, 0.75);
    border-radius: 8px;
    position: relative;
}

.card img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 8px;
}

.card-title {
    display: flex;
    justify-content: center;
    font-size: 16pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: rgba(108, 174, 255, 0.75);
    border-bottom: 1px solid black;
    border-radius: 8px 8px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}

.card-content {
    /* visibility: hidden; */
    opacity: 0;
    transition: opacity 250ms;
    /* transition: visibility 0s, opacity 0.5s; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(108, 174, 255, 0.75);
    /* border: 1px solid black; */
    border-radius: 0px 0px 8px 8px;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    padding: 2px;
    z-index: 1;
}

.card:hover
.card-content {
    /* visibility: visible; */
    opacity: 1;
    transition: opacity 250ms;
}


