body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    border: 8px solid black;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 160px;
    background-color: lightslategray;
    border-radius: 8px;
}

.box-title {
    display: flex;
    justify-content: center;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-content {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    text-align: center;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid black; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    padding: 2px;;
}
