body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 32pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    /* border: 1px solid black; */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 160px;
    background-color: lightslategray;
    border-radius: 8px;
    position: relative;
}

.box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 8px;
}

.box-title {
    display: flex;
    justify-content: center;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: rgba(119, 136, 153, 0.712);
    border-bottom: 1px solid black;
    border-radius: 8px 8px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}

.box-content {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    text-align: center;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid black; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    padding: 2px;
}
